#rotation-view {
    text-align: center;
}

#rotation-carousel {
    width: 80%;
    margin: auto;

    .rotation-block {
        padding: 10px;
        text-align: center;
        border-top: 2px solid white;
        color: #BDC3C7;
        cursor: default;
    }

    .rotation-block-selectable {
        color: $color-primary-darkblue;
        cursor: pointer;
    }

    .rotation-block-selectable:hover {
        border-top: 2px solid $color-primary-blue;
    }

    .rotation-block-name {
        font-family: $font-stack-slabserif;
        font-size: 0.8em;
    }

    .rotation-block-date {
        font-family: $font-stack-sansserif-2;
        font-size: 0.8em;
    }

    .currentRotation {
        background-color: $color-primary-blue;
        color: white;
        border-top: 2px solid $color-primary-blue;
    }

    .navButton {
        background-color: none;
        color: $color-primary-darkblue;
        position: absolute; 
        display: block; 
        height: 20px; 
        width: 20px; 
        line-height: 0; 
        top: 50%; 
        margin-top: -10px; 
        padding: 0px;
        cursor: pointer;
    }

    .navButton:hover {
        color: $color-primary-blue;
    }

    .prevButton {
        @extend .navButton;
        left: -25px; 
    }

    .nextButton {
        @extend .navButton;
        right: -25px;
    }
}

#rotation-goals {
    background-color: $color-primary-tanwhite;

    .rotation-nogoals-msg {
        vertical-align: middle;
        font-family: $font-stack-sansserif-1;
        color: $color-primary-darkblue;
        font-size: 1.4em;
    }

    /* donut chart styles */
    .donut-chart-label {
        font-family: $font-stack-slabserif;
        font-size: 1.2em;
        fill: $color-primary-gray;
    }

    .donut-chart-number {
        font-family: $font-stack-sansserif-2;
        font-size: 1.2em;
        fill: $color-primary-gray;
    }
}



#rotation-summary {
    text-align: left;
    background-color: $color-primary-darkdarkblue;

    /* pie graph styles */
    #rotation-summary-pie {
        float: left;
    }

    .pieArc path {
        stroke-width: 0px;
        cursor: pointer;
    }

    .pie-graph-label {
        font-family: $font-stack-slabserif;
        font-size: 0.8em;
        fill: $color-primary-tanwhite;
    }

    .pie-graph-number {
        font-family: $font-stack-sansserif-2;
        font-size: 1.2em;
        fill: $color-primary-tanwhite;
    }

    /* numbers chart styles */
    #rotation-summary-numbers {
        .axis {
            font-family: $font-stack-sansserif-1;
            font-size: 0.8em;
            fill: $color-primary-gray;

            path, line {
                fill: none;
                stroke: $color-primary-gray;
                shape-rendering: crispEdges;
            }
        }

        .number-label {
            font-family: $font-stack-sansserif-2;
            font-size: 1em;
            fill: $color-primary-tanwhite;
        }
    }

}