<div class="container-fluid">
    <div id="dashboard-header" class="row">
        <div id="logo"><i class="fa fa-cubes"></i> TROVE</div>
        <div class="toplink" id="badges" ng-click="badgesListShow()"><i class="fa fa-trophy"></i> Badges ({{minnies | number}} minnies)</div>
        <div class="toplink" id="diseaseview" ng-click="diseaseView()"><i class="fa fa-th"></i> Disease View</div>
        <div class="toplink" id="acgmeview" ng-click="ACGMEView()"><i class="fa fa-graduation-cap"></i> ACGME Goals</div>
        <div class="toplink" id="feedback" ng-click="feedbackBoxShow = true"><i class="fa fa-comment-o"></i> Feedback</div>
        <div id="user">
            Welcome, <span id="name">{{ data.name }}</span> | <span id="logout" ng-click="logout()">logout</span>
        </div>
    </div>
    <div id="rotation-view" class="dashboard-content-wrapper">
        <div id="rotation-carousel" class="row">
            <slick ng-transclude settings="slickConfig" control="slickHandle">
                <div class="rotation-block" ng-click="setVisibleRotation($index)" ng-class="{'currentRotation': $index==visibleRotationIndex, 'rotation-block-selectable': $index<=currentRotationIndex}" ng-repeat="rot in ::data.rotations" ng-show="rotationsLoaded">
                    <span class="rotation-block-name">{{rot.rotationName}}</span><br>
                    <span class="rotation-block-date">{{rot.rotationDates}}</span>
                </div>
            </slick>
        </div>
        <div id="rotation-goals" class="row">
            <div class="section-label">Goals</div>
            <div class="rotation-nogoals-msg" ng-style="{'height': rotationGoalsDivHeight() + 'px', 'line-height': rotationGoalsDivHeight() + 'px'}" ng-if="isRotationWithoutGoals">No goals  available for this rotation.</div>
            <modality-goal modality="CT"></modality-goal>
            <modality-goal modality="XR"></modality-goal>
            <modality-goal modality="MRI"></modality-goal>
            <modality-goal modality="FLUORO"></modality-goal>
            <modality-goal modality="US"></modality-goal>
            <modality-goal modality="NM"></modality-goal>
        </div>
        <div id="rotation-summary" class="row">
            <div class="section-label">All Studies</div>
            <modality-pie-chart id="rotation-summary-pie"></modality-pie-chart>
            <weekly-numbers-chart id="rotation-summary-numbers"></weekly-numbers-chart>
        </div>
    </div>
    <div id="studiesList" class="row animated fadeInUp" ng-if="studiesListShowBoolean" ng-class="{'fadeOutDown': studiesListFadeOutBoolean}">
        <span id="studiesListClose" class="panelCloseButton" ng-click="studiesListClose()"></span>
        <span id="studiesListMore" ng-show="studiesListMore"><i class="fa fa-4x fa-angle-double-down"></i></span>
        <div id="studiesListItems">
            <div class="studies-sort"><span class="studies-sort-button" ng-class="{'studies-sort-selected': studiesSortBy==='transcribed_time'}" ng-click="studiesSortBy='transcribed_time'">Sort by time</span><span class="studies-sort-button" ng-class="{'studies-sort-selected': studiesSortBy==='-levenshtein_distance'}" ng-click="studiesSortBy='-levenshtein_distance'">Sort by most edits</span></div>
            <div ng-repeat="study in studiesList | orderBy:studiesSortBy" class="studiesListItem">
                <div class="examDesc">[ {{study.modality}} ] {{study.exam_name}}</div>
                <div class="examTime">Transcribed Time: {{study.transcribed_time | date: 'short'}}</div>
                <!--<div class="diseaseLabels">Disease Labels: None</div>-->
                <div class="hasEditsIndicator" ng-show="study.reportHasEdits"><i class="fa fa-pencil-square-o"></i> report contain edits</div>
                <div class="showReportButton">
                    <span class="button" ng-hide="!study.reportHasEdits || study.showReportWithEditsBoolean || study.showReportBoolean" ng-click="study.showReportWithEditsBoolean = true">Show report with edits</span>
                    <span class="button" ng-hide="study.showReportWithEditsBoolean || study.showReportBoolean" ng-click="study.showReportBoolean = true">Show finalized report<span ng-hide="study.reportHasEdits"> (no edits)</span></span>
                    <span class="button" ng-show="study.showReportBoolean || study.showReportWithEditsBoolean" ng-click="study.showReportBoolean = false; study.showReportWithEditsBoolean = false;">Hide report</span></div>
                <div class="studyReport animated fadeIn" ng-show="study.showReportWithEditsBoolean" ng-bind-html="preprocessReport(study.transcribed_report, study.report) | diff: study.report"></div>
                <div class="studyReport animated fadeIn" ng-show="study.showReportBoolean" ng-bind-html="study.report"></div>
            </div>
        </div>
    </div>

</div>

<div id="badgesList" class="row animated fadeInDown" ng-if="badgesListShowBoolean" ng-class="{'fadeOutUp': badgesListFadeOutBoolean}">
    <span id="badgesListClose" class="panelCloseButton" ng-click="badgesListClose()"></span>
    <div id="badgesListItems">        <div id="badgesListHeader">My Badges</div>
        <div ng-repeat="badge in badges" class="badge">
            <div class="badgeIcon"><img ng-src="{{badge.iconURL}}" /></div>
            <div class="badgeDesc">{{badge.desc}}</div>
            <div class="badgeDate">{{badge.dateAchieved | date: 'medium'}}</div>
        </div>
        <div></div>
    </div>
</div>
    
<div class="md-modal md-effect" ng-class="{'md-show': feedbackBoxShow}">
    <div class="md-content">
        <h3>Feedback</h3>
        <div class="md-content-item">
            Name (optional):<br><input class="inputfield" type="text" name="fname" ng-model="fname" /><br><br>
            Message:<br><textarea class="inputfield" type="textarea" name="fmsg" ng-model="fmsg"></textarea></div>
        <div class="text-center"><span class="button" ng-click="feedbackBoxShow = false; sendFeedback();">Send</span> <span class="button" ng-click="feedbackBoxShow = false">Close</span></div> 
    </div>
</div>

<div class="md-overlay" ng-click="feedbackBoxShow = false"></div>
