#dashboard-header {
    background-color: white;
    color: $color-primary-gray;

    #logo {
        font-family: $font-stack-slabserif;
        font-weight: bold;
        font-size: 20px;
        color: $color-primary-blue;
        float: left;
        padding: 20px 10px 20px 60px;
        @include unselectable();
        cursor: default;
    }

    .toplink {
        font-family: $font-stack-sansserif-2;
        background-color: white;
        color: $color-primary-orange;
        float: left;
        padding: 5px 12px;
        margin: 18px 12px;
        border: 1px solid $color-primary-orange;
        border-radius: 5px;
        @include transition(background-color, 500ms, 0s, ease-out);
        @include unselectable();
    }
    .toplink:hover {
        cursor: pointer;
        background-color: $color-primary-orange;
        color: white;
    }

    #badges {
        color: $color-primary-orange;
        border-color: $color-primary-orange;
    }
    #badges:hover {
        background-color: $color-primary-orange;
        color: white;
    }

    #minnies {
        color: $color-primary-orange;
        border-color: $color-primary-orange;
    }
    #minnies:hover {
        background-color: $color-primary-orange;
        color: white;
    }

    #diseaseview {
        color: $color-primary-blue;
        border-color: $color-primary-blue;
    }
    #diseaseview:hover {
        background-color: $color-primary-blue;
        color: white;
    }

    #feedback {
        color: $color-primary-green;
        border-color: $color-primary-green;
    }
    #feedback:hover {
        background-color: $color-primary-green;
        color: white;
    }

    #user {
        font-family: $font-stack-sansserif-1;
        float: right;
        padding: 23px 40px 20px 10px;
        
        #name {
            font-weight: bold;
            color: $color-primary-orange;
        }
    }

    #logout {
        text-decoration: underline;
        cursor: pointer;
        @include transition(all, 500ms, 0s,  ease-out);
    }

    #logout:hover, #logout:active, #logout:focus {
        text-decoration: none;
        color: $color-primary-blue;
    }
}

#rotation-view {
    text-align: center;
}

#rotation-carousel {
    width: 80%;
    margin: auto;

    .rotation-block {
        padding: 10px;
        text-align: center;
        border-top: 2px solid white;
        color: #BDC3C7;
        cursor: default;
    }

    .rotation-block-selectable {
        color: $color-primary-darkblue;
        cursor: pointer;
    }

    .rotation-block-selectable:hover {
        border-top: 2px solid $color-primary-blue;
    }

    .rotation-block-name {
        font-family: $font-stack-slabserif;
        font-size: 0.8em;
    }

    .rotation-block-date {
        font-family: $font-stack-sansserif-2;
        font-size: 0.8em;
    }

    .currentRotation {
        background-color: $color-primary-blue;
        color: white;
        border-top: 2px solid $color-primary-blue;
    }

    .navButton {
        background-color: none;
        color: $color-primary-darkblue;
        position: absolute; 
        display: block; 
        height: 20px; 
        width: 20px; 
        line-height: 0; 
        top: 50%; 
        margin-top: -10px; 
        padding: 0px;
        cursor: pointer;
    }

    .navButton:hover {
        color: $color-primary-blue;
    }

    .prevButton {
        @extend .navButton;
        left: -25px; 
    }

    .nextButton {
        @extend .navButton;
        right: -25px;
    }
}

#rotation-goals {
    background-color: $color-primary-tanwhite;

    /* donut chart styles */
    .donut-chart-label {
        font-family: $font-stack-slabserif;
        font-size: 1.2em;
        fill: $color-primary-gray;
    }

    .donut-chart-number {
        font-family: $font-stack-sansserif-2;
        font-size: 1.2em;
        fill: $color-primary-gray;
    }
}



#rotation-summary {
    text-align: left;
    background-color: $color-primary-darkdarkblue;

    /* pie graph styles */
    #rotation-summary-pie {
        float: left;
    }

    .pieArc path {
        stroke-width: 0px;
        cursor: pointer;
    }

    .pie-graph-label {
        font-family: $font-stack-slabserif;
        font-size: 0.8em;
        fill: $color-primary-tanwhite;
    }

    .pie-graph-number {
        font-family: $font-stack-sansserif-2;
        font-size: 1.2em;
        fill: $color-primary-tanwhite;
    }

    /* numbers chart styles */
    #rotation-summary-numbers {
        .axis {
            font-family: $font-stack-sansserif-1;
            font-size: 0.8em;
            fill: $color-primary-gray;

            path, line {
                fill: none;
                stroke: $color-primary-gray;
                shape-rendering: crispEdges;
            }
        }

        .number-label {
            font-family: $font-stack-sansserif-2;
            font-size: 1em;
            fill: $color-primary-tanwhite;
        }
    }

}

#studiesList {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent-blue;
    color: $color-primary-tanwhite;
    text-align: center;

    #studiesListMore {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    #studiesListItems {
        padding-top: 120px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;  
    }

    .studiesListItem {
        margin: 20px 0;
        padding: 30px 0;
        font-size: 1.3em;
        clear: both;

        .examDesc{
            font-family: $font-stack-slabserif;
        }
        .examWordCount {
            font-family: $font-stack-sansserif-2;
        }
        .examTime {
            font-family: $font-stack-sansserif-2;
        }
        .diseaseLabels {
            font-family: $font-stack-sansserif-2;
        }
        .showReportButton {
            font-family: $font-stack-sansserif-2;
            margin-top: 15px;

            span {
                padding: 8px;
                color: $color-primary-tanwhite;
                background: $color-transparent-blue;
                text-decoration: none;
                border: 1px solid $color-primary-tanwhite;
                @include transition(all, 500ms, 0s, ease-out);
            }
            span:hover, span:focus, span:active {
                cursor: pointer;
                text-decoration: none;
                color: $color-primary-tanwhite;
                background: $color-primary-darkdarkblue;
                border: 1px solid $color-primary-darkdarkblue;
            }
        }
        .studyReport {
            width: 50%;
            margin: 0 auto;
            padding: 25px;
            font-family: $font-stack-sansserif-1;
            color: $color-primary-darkdarkblue;
            text-align: justify;
            white-space: wrap;

            ins {
                background-color: $color-primary-darkgreen;
                color: $color-primary-tanwhite;
                text-decoration: none;
            }
            del {
                background-color: $color-primary-red;
                color: $color-primary-tanwhite;
                text-decoration: line-through;
            }
        }
    }
}

#badgesList {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent-orange;
    color: $color-primary-tanwhite;
    text-align: center;

    #badgesListClose {
        width: 80px;
        height: 80px;
        right: 0;
        position: absolute;
        margin: 20px;
        background: url(../assets/images/cross.png) no-repeat center center;
    }
    #studiesListClose:hover {
        border: 2px solid white;
        cursor: pointer;
    }

    #badgesListHeader {
        padding-top: 120px;
        padding-bottom: 30px;
        width: 100%;
        margin: 0 auto;
        font-family: $font-stack-sansserif-2;
        font-size: 2.4em;
    }

    #badgesListItems {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto; 
    }

    .badge {
        background-color: #f8f8f9;
        width: 25%;
        padding: 25px;
        margin: 30px;
        border-radius: 0px;
        color: $color-primary-orange;

        .badgeIcon img {
            width: 50%;
            height: 50%;
        }

        .badgeDesc {
            font-family: $font-stack-sansserif-1;
            font-size: 1.5em;
        }

        .badgeDate {
            font-family: $font-stack-sansserif-2;
            font-size: 1.2em;
        }
    }

}

.panelCloseButton {
    width: 80px;
    height: 80px;
    right: 0;
    position: absolute;
    margin: 20px;
    background: url(../assets/images/cross.png) no-repeat center center;
}
.panelCloseButton:hover {
    border: 2px solid white;
    cursor: pointer;
}