#studiesList {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent-blue;
    color: $color-primary-tanwhite;
    text-align: center;

    #studiesListMore {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    #studiesListItems {
        padding-top: 120px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;  

        .studies-sort {
            font-family: $font-stack-sansserif-1;
            font-size: 1.3em;
            margin-bottom: 100px;

            .studies-sort-button {
                padding: 8px 0;
                margin: 0 20px;
                color: $color-primary-tanwhite;
                cursor: default;
                @include transition(color, 300ms, 0s, ease-out);
            }
            .studies-sort-button:hover {
                color: $color-primary-yellow;
                cursor: pointer;
            }
            .studies-sort-selected {
                color: $color-primary-yellow;
                border-bottom: 3px solid $color-primary-yellow;
            }
        }
    }

    .studiesListItem {
        margin: 20px 0;
        padding: 30px 0;
        font-size: 1.3em;
        clear: both;

        .examDesc{
            font-family: $font-stack-slabserif;
        }
        .examWordCount {
            font-family: $font-stack-sansserif-2;
        }
        .examTime {
            font-family: $font-stack-sansserif-2;
        }
        .diseaseLabels {
            font-family: $font-stack-sansserif-2;
        }
        .showReportButton {
            font-family: $font-stack-sansserif-2;
            margin-top: 15px;

            span {
                padding: 8px;
                color: $color-primary-tanwhite;
                background: $color-transparent-blue;
                text-decoration: none;
                border: 1px solid $color-primary-tanwhite;
                @include transition(all, 500ms, 0s, ease-out);
            }
            span:hover, span:focus, span:active {
                cursor: pointer;
                text-decoration: none;
                color: $color-primary-tanwhite;
                background: $color-primary-darkdarkblue;
                border: 1px solid $color-primary-darkdarkblue;
            }
        }
        .studyReport {
            width: 50%;
            margin: 0 auto;
            padding: 25px;
            font-family: $font-stack-sansserif-1;
            color: $color-primary-darkdarkblue;
            text-align: justify;
            white-space: wrap;

            ins {
                background-color: $color-primary-darkgreen;
                color: $color-primary-tanwhite;
                text-decoration: none;
            }
            del {
                background-color: $color-primary-red;
                color: $color-primary-tanwhite;
                text-decoration: line-through;
            }
        }
    }
}