<div class="container-fluid">
    <div id="dashboard-header" class="row">
        <div id="logo"><i class="fa fa-cubes"></i> TROVE</div>
        <div class="toplink" id="badges" ng-click="badgesListShow()"><i class="fa fa-trophy"></i> Badges ({{minnies | number}} minnies)</div>
        <div class="toplink" id="rotationview" ng-click="rotationView()"><i class="fa fa-circle-o"></i> Rotation View</div>
        <div class="toplink" id="acgmeview" ng-click="ACGMEView()"><i class="fa fa-graduation-cap"></i> ACGME Goals</div>
        <div class="toplink" id="feedback" ng-click="feedbackBoxShow = true"><i class="fa fa-comment-o"></i> Feedback</div>
        <div id="user">
            Welcome, <span id="name">{{ data.name }}</span> | <span id="logout" ng-click="logout()">logout</span>
        </div>
    </div>
	<div class="row" id="selectableGroup">
        <div class="selectable" ng-class="getSelected('ALL')" ng-click="initChart('ALL')">
            ALL
        </div>
		<div class="selectable" ng-class="getSelected('BODY CT')" ng-click="initChart('BODY CT')">
    		Body CT
    	</div>
		<div class="selectable" ng-class="getSelected('GI/GU')" ng-click="initChart('GI/GU')">
    		GI/GU
    	</div>
        <div class="selectable" ng-class="getSelected('US')" ng-click="initChart('US')">
            US
        </div>
		<div class="selectable" ng-class="getSelected('NEURO')" ng-click="initChart('NEURO')">
    		Neuro
    	</div>
		<div class="selectable" ng-class="getSelected('PEDS')" ng-click="initChart('PEDS')">
    		Peds
    	</div>
		<div class="selectable" ng-class="getSelected('NUCS')" ng-click="initChart('NUCS')">
    		Nucs
    	</div>
        <div class="selectable" ng-class="getSelected('ED')" ng-click="initChart('ED')">
            ED
        </div>
        <div class="selectable" ng-class="getSelected('BONE')" ng-click="initChart('BONE')">
            Bone
        </div>
		<div class="selectable" ng-class="getSelected('CHEST')" ng-click="initChart('CHEST')">
    		Chest
    	</div>
	</div>
    <div class="spinner" ng-show="chartLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
	<div class="row" id="barChart">
        <div id="diseaseSearch">
            <input type="text" name="diseaseSearchInput" placeholder="search disease" ng-model="diseaseSearchInput" />
            <span ng-click="clearSearch()" id="clearButton">clear</span>
        </div>
        <div class="bar-chart-item bar-chart-legend">
            <div class="bar-chart-margin-left"></div>
            <div class="bar-chart-legendkey">Legend: (width equals goal number) </div>
            <div class="bar-chart-legend-goalMet"></div>
            <div class="bar-chart-legendkey">goal met or exceeded</div>
            <div class="bar-chart-legend-goalUnmet"></div>
            <div class="bar-chart-legendkey">seen cases, goal unmet</div>
            <div class="bar-chart-legend-goalZero"></div>
            <div class="bar-chart-legendkey">no cases seen</div>
        </div>
        <div class="studies-sort">
            Sort: 
            <span class="studies-sort-button" ng-class="{'studies-sort-selected': diseasesSortBy==='disease'}" ng-click="diseasesSortBy='disease'">alphabetical</span>
            <span class="studies-sort-button" ng-class="{'studies-sort-selected': diseasesSortBy==='-goal_number'}" ng-click="diseasesSortBy='-goal_number'">by goal numbers</span>
            <span class="studies-sort-button" ng-class="{'studies-sort-selected': diseasesSortBy==='-user_number'}" ng-click="diseasesSortBy='-user_number'">by your numbers</span>
        </div>
		<div class="bar-chart-item" ng-repeat="item in diseaseNumbers | orderBy:diseasesSortBy | filter:{ disease: diseaseSearchInput }">
            <div class="bar-chart-row">
                <div class="bar-chart-margin-left"></div>
                <div class="bar-chart-item-label">{{ item.disease }} <span class="animated fadeIn" ng-show="diseaseTooltipShow[$index]"> [ click on bar to show studies ]</span></div>
            </div>
            <div class="bar-chart-row">
                <div class="bar-chart-margin-left"></div>
                <div class="bar-chart-item-bar" ng-style="calcCSSWidth(item.user_number)" ng-mouseover="diseaseTooltipShow[$index] = true" ng-mouseleave="diseaseTooltipShow[$index] = false" ng-click="retrieveDiseaseStudies(item.disease)"></div>
                <div class="bar-chart-item-number">{{ item.user_number }}</div>
            </div>
            <div class="bar-chart-row">
                <div class="bar-chart-margin-left"></div>
                <div class="bar-chart-item-goalbar" ng-style="calcCSSWidth(item.goal_number)" ng-class="{goalMet: item.user_number >= item.goal_number, goalUnmet: item.user_number < item.goal_number && item.user_number > 0, goalZero: item.user_number === 0}"></div>
            </div>
        </div>
	</div>
    <div id="studiesList" class="row animated fadeInUp" ng-if="studiesListShowBoolean" ng-class="{'fadeOutDown': studiesListFadeOutBoolean}">
        <span id="studiesListClose" class="panelCloseButton" ng-click="studiesListClose()"></span>
        <span id="studiesListMore" ng-show="studiesListMore"><i class="fa fa-4x fa-angle-double-down"></i></span>
        <div id="studiesListItems">
            <div class="studies-sort"><span class="studies-sort-button" ng-class="{'studies-sort-selected': studiesSortBy==='transcribed_time'}" ng-click="studiesSortBy='transcribed_time'">Sort by time</span><span class="studies-sort-button" ng-class="{'studies-sort-selected': studiesSortBy==='-levenshtein_distance'}" ng-click="studiesSortBy='-levenshtein_distance'">Sort by most edits</span></div>
            <div ng-repeat="study in studiesList | orderBy:studiesSortBy" class="studiesListItem">
                <div class="examDesc">[ {{study.modality}} ] {{study.exam_name}}</div>
                <div class="examTime">Transcribed Time: {{study.transcribed_time | date: 'short'}}</div>
                <!--<div class="diseaseLabels">Disease Labels: None</div>-->
                <div class="hasEditsIndicator" ng-show="study.reportHasEdits"><i class="fa fa-pencil-square-o"></i> report contain edits</div>
                <div class="showReportButton">
                    <span class="button" ng-hide="!study.reportHasEdits || study.showReportWithEditsBoolean || study.showReportBoolean" ng-click="study.showReportWithEditsBoolean = true">Show report with edits</span>
                    <span class="button" ng-hide="study.showReportWithEditsBoolean || study.showReportBoolean" ng-click="study.showReportBoolean = true">Show finalized report<span ng-hide="study.reportHasEdits"> (no edits)</span></span>
                    <span class="button" ng-show="study.showReportBoolean || study.showReportWithEditsBoolean" ng-click="study.showReportBoolean = false; study.showReportWithEditsBoolean = false;">Hide report</span></div>
                <div class="studyReport animated fadeIn" ng-show="study.showReportWithEditsBoolean" ng-bind-html="preprocessReport(study.transcribed_report, study.report) | diff: study.report"></div>
                <div class="studyReport animated fadeIn" ng-show="study.showReportBoolean" ng-bind-html="study.report"></div>
            </div>
        </div>
    </div>

</div>


<div id="badgesList" class="row animated fadeInDown" ng-if="badgesListShowBoolean" ng-class="{'fadeOutUp': badgesListFadeOutBoolean}">
    <span id="badgesListClose" class="panelCloseButton" ng-click="badgesListClose()"></span>
    <div id="badgesListItems">        <div id="badgesListHeader">My Badges</div>
        <div ng-repeat="badge in badges" class="badge">
            <div class="badgeIcon"><img ng-src="{{badge.iconURL}}" /></div>
            <div class="badgeDesc">{{badge.desc}}</div>
            <div class="badgeDate">{{badge.dateAchieved | date: 'medium'}}</div>
        </div>
        <div></div>
    </div>
</div>

<div class="md-modal md-effect" ng-class="{'md-show': feedbackBoxShow}">
    <div class="md-content">
        <h3>Feedback</h3>
        <div class="md-content-item">
            Name (optional):<br><input class="inputfield" type="text" name="fname" ng-model="fname" /><br><br>
            Message:<br><textarea class="inputfield" type="textarea" name="fmsg" ng-model="fmsg"></textarea></div>
        <div class="text-center"><span class="button" ng-click="feedbackBoxShow = false; sendFeedback();">Send</span> <span class="button" ng-click="feedbackBoxShow = false">Close</span></div> 
    </div>
</div>

<div class="md-overlay" ng-click="feedbackBoxShow = false"></div>

